:root {
    --azul-claro: #cbeaff;
    --azul-base: #1b75fd;
    --vermelho: #ef1313;
    --branco: #ffffff;
    --cinza: #3b424c;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

