.destaques__titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
    opacity: 0.7;
    width:70%;
    margin:1.2rem auto 3rem;
    overflow: hidden;
    text-align:center;   
    line-height:1.2em;

}

.destaques__titulo:before, .destaques__titulo:after{
    content:"";
    vertical-align:middle;
    display:inline-block;
    width:50%;
    border-bottom:2px dotted #ccc;
    margin:0 2% 0 -55%;
}
.destaques__titulo:after{
    margin:0 -55% 0 2%;
}



.destaques__produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 6rem;
}

.destaques__produtos h2 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
}

.destaques__produtos li {
    display: inline-block;
    width: 38%;
    text-align: center;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    background: white;
}

.destaques__produtos p {
    font-size: 20px;
}

.destaques__imagem {
    width: 100%;
    
}