.rodape {
    display: flex;
    justify-content: space-around;
    background: #000000;
    opacity: 0.8;
    color: #fdfdfd;
    padding: 1.5625rem 5rem;
}

.rodape__funcionamento {
    display: flex;
    text-align: left;
}

.rodape__item {
    margin-right: 3rem;
    line-height: 1.5;
}

.rodape__titulo {
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.rodape__funcionamento__semana {
    display: flex;
}