:root {
    --azul-claro: #cbeaff;
    --azul-base: #1b75fd;
    --vermelho: #ef1313;
    --branco: #ffffff;
    --cinza: #3b424c;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}

.btn {
    margin-bottom: 10px;
}

.container {
    border-radius: 4px;
    margin: auto;
    width: 80%;
}

.little-container {
    width: 40%;
    margin: auto;
}

figcaption {
    text-align: center;
    margin: 3px auto;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

td {
    text-align: center;
}

.formularioJogo {
    display: flex;
}

.formularioImagem {
    margin-right: 16px
}

.buttons {
    margin-top: 16px
}

.inputBox {
    width: 700px;
}

.inputsJogo {
    width: 100%;
    margin-left: 1em;
    margin-bottom: 1em;
}


.intro {
    padding: 3.5rem 0 3.5rem;
    background-color: var(--cinza);
    
    color: white;
    text-align: center;
    font-size: 2rem;
}

/* .carousel-caption {
    top: 0;
    bottom: auto;
} */

.sobre {
    margin: 4rem 0 4rem;
    position: relative;
}

.sobre__imagem {
    width: 100%;
    
    height: 50rem;
    object-fit: cover;
}

.sobre__descricao {
    line-height: 1.5;
    font-size: 1.5rem;
    padding: 0 10rem;
    color: #7A7A7A;
    text-align: center;
}

.marcas {
    background-color: var(--azul-base);
    padding: 4rem 0 4rem;
    font-size: 2rem;
}

  
.marcas__logo {
    filter: invert(100%);
    /* width: 250px; */
    
}

.selecionada {
    visibility: visible;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');


:root {
  --marquee-width: 130vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #1b75fd;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #1b75fd 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #1b75fd 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 45%;
  
  
} 

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 2;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}

.servicos {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(180deg, lightgray, white);
    margin-bottom: 3rem;
}

.servicos__descricao {
    margin: 2rem 2rem 0 12.5%;
    width: 50%;
    font-size: 1.3rem;
    font-weight: 500;    
    line-height: 2;
}

.servicos__imagem {    
    margin: 2rem 12.5% 0 0;
    width: 25%;
}

.destaques__titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
    opacity: 0.7;
    width:70%;
    margin:1.2rem auto 3rem;
    overflow: hidden;
    text-align:center;   
    line-height:1.2em;

}

.destaques__titulo:before, .destaques__titulo:after{
    content:"";
    vertical-align:middle;
    display:inline-block;
    width:50%;
    border-bottom:2px dotted #ccc;
    margin:0 2% 0 -55%;
}

.destaques__titulo:after{
    margin:0 -55% 0 2%;
}

.destaques__produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 6rem;
}

.destaques__produtos h2 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
}

.destaques__produtos li {
    display: inline-block;
    width: 38%;
    text-align: center;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    background: white;
}

.destaques__produtos p {
    font-size: 20px;
}

.destaques__imagem {
    width: 100%;
    
}

.rodape {
    display: flex;
    justify-content: space-around;
    background: #000000;
    opacity: 0.8;
    color: #fdfdfd;
    padding: 1.5625rem 5rem;
}

.rodape__funcionamento {
    display: flex;
    text-align: left;
}

.rodape__item {
    margin-right: 3rem;
    line-height: 1.5;
}

.rodape__titulo {
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.rodape__funcionamento__semana {
    display: flex;
}