:root {
    --azul-claro: #cbeaff;
    --azul-base: #1b75fd;
    --vermelho: #ef1313;
    --branco: #ffffff;
    --cinza: #3b424c;
    --marquee-width: 130vw;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;

}

.sobre {
    margin: 5rem auto;
    width: 70%;
}

.marcas {
    filter: invert(100%);
    /* width: 250px; */

}

.btn-login {
    color: #ffffff;
    background-color: #1b75fd;
    padding: 0.5rem 1.2rem;
    border-radius: 0.3rem;
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #1b75fd;
    color: #eee;
    overflow: hidden;
    position: relative;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, #1b75fd 0%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, #1b75fd 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4);
    /* 5rem; */
    white-space: nowrap;
}

.marquee-content li img {
    width: 45%;
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    :root {
        --marquee-width: 100vw;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 2;
    }

    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}

.destaques {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
    opacity: 0.7;
    width: 70%;
    margin: 1.2rem auto 3rem;
    overflow: hidden;
    text-align: center;
    line-height: 1.2em;

}

.destaques:before,
.destaques:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 50%;
    border-bottom: 2px dotted #ccc;
    margin: 0 2% 0 -55%;
}

.destaques:after {
    margin: 0 -55% 0 2%;
}

.rodape {
    background: #000000;
    opacity: 0.8;
    color: #fdfdfd;
}