.cabecalho {
    background-color: white;
    align-items: center;
    width: 100%;    
    padding: 20px 0 20px;
    display: flex;
    justify-content: space-between;
    
}

.cabecalho-itens {
    background-color: var(--azul-base);
    align-items: center;
    width: 100%;    
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.cabecalho__logo {
    padding: 1rem 0 .2rem 5rem;
    height: 100px;
}

.cabecalho__midia {
    display: inline-block;
    width: 30px;
    margin-right: 2rem;
    margin-bottom: .2rem;
    margin-left: .7rem;
}

.cabecalho__contato {
    padding: 0.7rem;
    background-color: white;
    border-color: yellow;
    border-radius: 4px;
    margin-right: 5rem;

}

.cabecalho__midias {
    display: flex;
    align-items: center;
    margin: 3rem 5rem 0 0;

}

.cabecalho__navegacao {
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

a {
    color: white;
    font-weight: 500;
}

.cabecalho__link {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin: .4rem 1rem;
    
}

a{
    text-decoration:none;  
  }

.imagem-cabecalho {
    width: 5%;
}


.intro {
    padding: 3.5rem 0 3.5rem;
    background-color: black;
    opacity: 0.8;
    color: white;
    text-align: center;
    font-size: 2rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color : lightgray;
}

.sobre {
    margin: 4rem 0 4rem;
    position: relative;
}

.sobre__imagem {
    width: 100%;
    
    height: 50rem;
    object-fit: cover;
}

.sobre__descricao {
    line-height: 1.5;
    font-size: 1.5rem;
    padding: 0 10rem;
    color: #7A7A7A;
    text-align: center;
}

.marcas {
    background-color: var(--azul-base);
    padding: 4rem 0 4rem;
    font-size: 2rem;

}



.slider {
    
    position: relative;
    width: 500px;
    height: 50px;
    transform: scale(0.8);
  
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
  }
  
  .slide b {
    position: absolute;
    font-size: 10em;
    color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
.marcas__logo {
    filter: invert(100%);
    width: 250px;
    
}

.selecionada {
    visibility: visible;
}

.servicos {
    display: flex;
    background-color: lightgray;
}

.servicos__descricao {
    width: 50%;
    margin: 2rem 5rem;
    line-height: 2;
}

.servicos__imagem {
    margin: 2rem 0;
    width: 25%;
}

