.rodape {
    display: flex;
    justify-content: space-around;
    background: #000000;
    opacity: 0.8;
    color: #fdfdfd;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
}

.rodape__horarios {
    display: flex;
    text-align: left;
}

.horarios {
    margin-right: 3rem;
    line-height: 1.5;
}

.horas {
    line-height: 1.5;
}