{% extends 'bikes/template.html' %}
{% load static %}
{% block content %}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-8">
                <img src="{{ bike.foto.url }}" class="img-fluid" alt="Product Image">
            </div>
            <div class="col-md-4">
                <p class="">{{bike.nome}}</p>
                <p class="">{{bike.categoria}}</p>
                <p class="">{{bike.cor}}</p>
                <p class="">{{bike.preco}}</p>
                <p class="">{{bike.descricao}}</p>
            </div>
        </div>
    </div>

{% endblock %}
