{% extends 'bikes/template.html' %}
{% load static %}
{% block content %}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-8">
                <img src="{{ bike.foto.url }}" class="img-fluid" alt="Product Image">
            </div>
            <div class="col-md-4">
                <h2>{{ bike.nome }}</h2>
                <p><strong>Categoria:</strong> {{ bike.categoria }}</p>
                <p><strong>Cor:</strong> {{ bike.cor }}</p>
                <p><strong>Preço:</strong> {{ bike.preco }}</p>
                <p><strong>Descrição:</strong> {{ bike.descricao }}</p>
                <button type="button" class="btn btn-secondary mt-3" value="{{ bike.id }}" id="add-cart" data-add-url="{% url 'cart_adicionar' %}">Add carrinho</button>
            </div>
        </div>
    </div>

{% endblock %}
