{% extends 'template.html' %}
{% block conteudo %}

<img class="img-fluid img-fundo position-absolute teste" src="{{ url_for('static', filename='img/editar.jpg') }}" alt="">
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <form action="">
        <div class="row border rounded-5 p-3 bg-white shadow">

            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column"
                style="background: var(--azul-base);">
                <div class="featured-image mb-3">
                    <img src="{{ url_for('imagem', nome_arquivo=capa_bike) }}" class="img-fluid">
                </div>

            </div>

            <div class="col-md-6">
                <div class="row align-items-center mx-3">
                    <div class="header-text mb-3">
                        <h2 class="h3">Edite os dados da bike</h2>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Nome">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Preço">
                    </div>
                    <div class="input-group mb-3">
                        <textarea rows="5" class="form-control form-control-lg bg-light fs-6"
                            placeholder="Descrição"></textarea>
                    </div>
                    <div class="input-group mb-3">

                        <select class="form-select" aria-label="Default select example">
                            <option selected>Categoria</option>
                            <option value="1">Mountain</option>
                            <option value="2">Road</option>
                            <option value="3">Gravel</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <button class="btn btn-lg btn-primary w-100 fs-6">Salvar</button>
                    </div>
                </div>


            </div>
        </div>
</div>
</form>
</div>

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul id="messages" class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="page-header">
        <h1>Editar bike</h1>
    </div>
    <form class="formularioJogo" action="{{ url_for('atualizar') }}" method="post">
        <figure class="img-thumbnail col-md-4">
            <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo=capa_bike) }}" alt="">
            <figcaption>
                <label class="fileContainer">
                    Mudar capa
                    <input type="file" name="arquivo" class="form-control" accept="image/*">
                </label>
            </figcaption>
        </figure>
        <fieldset>
            <input type="hidden" name="id" value="{{id}}">
            {{ form.csrf_token() }}
            <div class="form-group">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="imagem">Selecione a imagem</label>
                <input type="file" id="imagem" name="imagem" class="form-control" accept="image/*">
            </div>
            <div class="form-group">
                {{ form.cor.label(class="form-label") }}
                {{ form.cor(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.preco.label(class="form-label") }}
                {{ form.preco(class="form-control") }}
            </div>
            {{ form.salvar(class="btn btn-primary") }}
        </fieldset>
    </form>
</div>


{% endblock %}