<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Image Upload</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-5">
        <h1>Upload Multiple Images</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="images">Select Images</label>
                <input type="file" class="form-control-file" id="images" name="images[]" multiple accept="image/*"
                    onchange="previewImages(this);">
            </div>

            <div class="row" id="image-preview-container">
                <!-- Preview images will be displayed here -->
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <!-- Include Bootstrap JS and any other scripts here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function previewImages(input) {
            var previewContainer = document.getElementById('image-preview-container');

            if (input.files && input.files.length > 0) {
                for (var i = 0; i < input.files.length; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var imgContainer = document.createElement('div');
                        imgContainer.className = 'col-md-4 mt-2';

                        var img = document.createElement('img');
                        img.src = e.target.result;
                        img.style.maxWidth = '100%';
                        imgContainer.appendChild(img);

                        var actions = document.createElement('div');
                        actions.className = 'mt-2';

                        var editBtn = document.createElement('button');
                        editBtn.className = 'btn btn-sm btn-info mr-1';
                        editBtn.innerText = 'Edit';
                        editBtn.onclick = function () {
                            var newInput = document.createElement('input');
                            newInput.type = 'file';
                            newInput.accept = 'image/*';
                            newInput.onchange = function () {
                                img.src = URL.createObjectURL(this.files[0]);
                            };
                            newInput.click();
                        };
                        actions.appendChild(editBtn);

                        var deleteBtn = document.createElement('button');
                        deleteBtn.className = 'btn btn-sm btn-danger';
                        deleteBtn.innerText = 'Delete';
                        deleteBtn.onclick = function () {
                            imgContainer.remove();
                        };
                        actions.appendChild(deleteBtn);

                        imgContainer.appendChild(actions);

                        previewContainer.appendChild(imgContainer);
                    };
                    reader.readAsDataURL(input.files[i]);
                }
            }
        }
    </script>

</body>

</html>