{% extends 'bikes/template.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1>Adicionar nova Bike</h1>
    <form action="{% url 'nova_bike' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
            {% if field.name == 'foto' %}
            <label for="{{ field.id_for_label }}" style="margin-bottom: 5px;">{{field.label}}</label>
            {{ field }}
            <img id="foto-preview" src="#" alt="Selected Image" class="mt-2" style="width: 300px;">
            {% else %}
            <label for="{{ field.id_for_label }}" style="margin-bottom: 5px;">{{field.label}}</label>
            {{ field }}
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
