{% extends 'bikes/template.html' %}
{% load static %}
{% block content %}

<body>
    <div class="container">
      <div class="page-header">
          <h1>Adicionar bike</h1>
      </div>
      <form action="" method="post" enctype="multipart/form-data">

          <figure class="img-thumbnail col-md-4">
              <img class="img-fluid" src="{% static 'assets/imagens/galeria/not-found.jpg' %}" alt="">
              <figcaption>
                  <label class="fileContainer">
                      Mudar capa
                      <input type="file" name="arquivo" class="form-control" accept="image/*">
                  </label>
              </figcaption>
          </figure>

        <fieldset>
            {% csrf_token %}

        </fieldset>
      </form>
    </div>


{% endblock %}