{% load static %}

<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel='stylesheet' href="{% static 'css/reset.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel='stylesheet' href="{% static 'css/login.css' %}">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"" rel="
        stylesheet">
</head>

<body>

    <header>
        {% include 'partials/_alertas.html' %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid mx-3">
                <a class="navbar-brand" href="#"><img class="img-fluid" src="{% static '/img/logo.png' %}" width="130"
                        alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mountain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Road</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gravel</a>
                        </li>

                    </ul>
                     {% if request.user.is_authenticated %}
                     <a class="nav-link btn-primary me-3 btn-login" href="{% url 'logout' %}">Logout</a>
                     {% else %}
                     <a class="nav-link btn-primary me-3 btn-login" href="{% url 'cadastro' %}">Cadastrar</a>
                     <a class="nav-link btn-primary me-3 btn-login" href="{% url 'login' %}">Login</a>
                     {% endif %}


                </div>
            </div>
        </nav>
    </header>



    
    {% block content %}{%endblock%}
    

    <footer class="rodape">
        <div class="rodape__funcionamento">
            <div class="">
                <h2 class="rodape__titulo">Horário de Funcionamento</h2>
                <div class="rodape__funcionamento__semana">
                    <ul class="rodape__dias">
                        <li class="rodape__item">Segunda:</li>
                        <li class="rodape__item">Terça: </li>
                        <li class="rodape__item">Quarta: </li>
                        <li class="rodape__item">Quinta: </li>
                        <li class="rodape__item">Sexta: </li>
                        <li class="rodape__item">Sabado: </li>
                        <li class="rodape__item">Domingo: </li>
                    </ul>
                    <ul class="rodape__dias">
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 11.30</li>
                        <li class="rodape__item">Fechado</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rodape__itens">
            <h2 class="rodape__titulo">Serviços</h2>
            <ul class="rodape__sobre">
                <li class="rodape__item">Seguros</li>
                <li class="rodape__item">Devoluções</li>
                <li class="rodape__item">Glossario de Bikes</li>
                <li class="rodape__item">Aluguel de Bike</li>
            </ul>
        </div>
        <div class="rodape__itens2">
            <h2 class="rodape__titulo">Sobre Nós</h2>
            <ul class="rodape__sobre">
                <li class="rodape__item">Nossas Lojas</li>
                <li class="rodape__item">Contato</li>
                <li class="rodape__item">História</li>
                <li class="rodape__item">Eventos</li>
            </ul>
        </div>

    </footer>
    <script src="{% static 'script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>