{% extends 'template.html' %}
{% block conteudo %}

<body>
    <div class="container">
      {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
      <div class="page-header">
          <h1>Editar bike</h1>
      </div>
      <form class="formularioJogo" action="{{ url_for('atualizar') }}" method="post">
          <figure class="img-thumbnail col-md-4">
              <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo=capa_bike) }}" alt="">
              <figcaption>
                  <label class="fileContainer">
                      Mudar capa
                      <input type="file" name="arquivo" class="form-control" accept="image/*">
                  </label>
              </figcaption>
          </figure>
        <fieldset>
            <input type="hidden" name="id" value="{{id}}">
            {{ form.csrf_token() }}
          <div class="form-group">
            {{ form.nome.label(class="form-label") }}
              {{ form.nome(class="form-control") }}
          </div>
          <div class="form-group">
            <label for="imagem">Selecione a imagem</label>
            <input type="file" id="imagem" name="imagem" class="form-control" accept="image/*">
          </div>
          <div class="form-group">
               {{ form.cor.label(class="form-label") }}
            {{ form.cor(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.preco.label(class="form-label") }}
            {{ form.preco(class="form-control") }}
          </div>
           {{ form.salvar(class="btn btn-primary") }}
        </fieldset>
      </form>
    </div>
</body>

{% endblock %}