<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coroa36 Bike Store</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/cabecalho.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/banner.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/rodape.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/destaques.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"" rel="stylesheet">
</head>
<body>  
    <header>
        <div class="cabecalho container">
            <img class='cabecalho__logo' src="{{ url_for('static', filename='img/coroa.png') }}" alt="Logo da loja">
            <nav>
                <ul class="cabecalho__midias">
                    <li><a href="#"><img src="{{ url_for('static', filename='img/teste1.png') }}" class="cabecalho__midia" alt="Icone do Facebook"></a></li>
                    <li><a href="#"><img class="cabecalho__midia" src="{{ url_for('static', filename='img/teste.png') }}" alt="Icone do Instagram"></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='img/teste2.png') }}"
                    class="cabecalho__midia"alt="Icone do Youtube"></a></li>
                </ul>
            </nav>
        </div>
        <div class="cabecalho-itens container">
            <nav class="cabecalho__navegacao">
                <ul>
                    <li class="cabecalho__link"><a href="#">Oficina</a></li>
                    <li class="cabecalho__link"><a href="#">Bicicletas</a></li>
                    <li class="cabecalho__link"><a href="#">Bike Fit</a></li>
                    <li class="cabecalho__link"><a href="#">Contato</a></li>
                </ul>
            </nav>
            <button class="cabecalho__contato">Contate-nos</button>
        </div>
    </header>
    <main> 
        <section class="banner">
            <img class='banner__imagem' src="{{ url_for('static', filename='img/david-marcu-VfUN94cUy4o-unsplash.jpg') }}" alt="Pessoa pedalando em uma estrada">
            <h2 class="banner__titulo">Bora pedalar! Venha para a loja pedalando sua bike e ganhe 5% de desconto.</h2>
        </section>
        <section class="marcas">
            <div class="slider">
                <div class="slide s1"><img src="https://upload.wikimedia.org/wikipedia/en/5/52/Specialized_logo.svg" class="marcas__logo" alt=""></div>
                <div class="slide s2"><img src="{{ url_for('static', filename='img/canyon.webp') }}" class="marcas__logo" alt=""></div>
                <div class="slide s3"><img src="https://upload.wikimedia.org/wikipedia/commons/3/39/2018_Trek_logo_word_mark_wiki.svg" class="marcas__logo" alt=""></div>
                <div class="slide s4"><img src="{{ url_for('static', filename='img/scott.png') }}" class="marcas__logo" alt=""></div>
            </div>
        </section>
        <section>
            <div class="intro">
                <p lang="en">Born to <i>Ride.</i><b> Lets Bike!</b></p>
            </div>  
            <div class="sobre">
                <!--<img src="./img/road.jpg" class='sobre__imagem' alt="">-->>
                <p class="sobre__descricao">
                Somos a Coroa36 Bike Store, uma loja moderna localizada em Delfinópolis-MG, na Serra da Canastra.<b> Temos uma equipe treinada e apaixonada pelo esporte.</b>
                </p>
            </div>
        </section>
        <section>
            <div class="servicos">
                <ul class="servicos__descricao">
                    <li>
                        <p>Há mais de 10 anos atuando na manutenção completa de bicicletas de todos os segmentos.</p><br>
                        <article>
                            <p>Revisão corretiva e preventiva;</p>
                            <p>Manutenção em suspensões;</p>
                            <p>Instalação de Kit Tubeless;</p>
                            <p>Lubrificação completa;</p>
                            <p>Reparo em carbono;</p>
                        </article>
                    </li>
                </ul>   
                <img class='servicos__imagem' src="{{ url_for('static', filename='img/oficina.jpg') }}" alt="homem fazendo manutenção de bicicleta de estrada">
            </div>
        </section>
        <section class="destaques container">
            <h3 class="destaques__titulo">Destaques</h3>
            <ul class='destaques__produtos'>
                {% for bike in bikes%}
                <li>
                    <h2>{{ bike.nome }}</h2>
                    <img class='destaques__imagem' src="{{ bike.foto }}" alt="Bicicleta Specialized Epic Pro">
                    <p>{{ bike.cor }}</p>
                    <p>{{ bike.preco }}</p>
                </li>
                {% endfor %}
            </ul>
        </section>

    </main>
    <footer class="rodape">
        <div class="rodape__funcionamento">
            <div class="">
                <h2 class="rodape__titulo">Horário de Funcionamento</h2>
                <div class="rodape__funcionamento__semana">
                    <ul class="rodape__dias">
                        <li class="rodape__item">Segunda:</li>
                        <li class="rodape__item">Terça: </li>
                        <li class="rodape__item">Quarta: </li>
                        <li class="rodape__item">Quinta: </li>
                        <li class="rodape__item">Sexta: </li>
                        <li class="rodape__item">Sabado: </li>
                        <li class="rodape__item">Domingo: </li>
                    </ul>
                    <ul class="rodape__dias">
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 11.30</li>
                        <li class="rodape__item">Fechado</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rodape__itens">
            <h2 class="rodape__titulo">Serviços</h2>
            <ul class="rodape__sobre">
                <li class="rodape__item">Seguros</li>
                <li class="rodape__item">Devoluções</li>
                <li class="rodape__item">Glossario de Bikes</li>
                <li class="rodape__item">Aluguel de Bike</li>
            </ul>
        </div>
        <div class="rodape__itens2">
            <h2 class="rodape__titulo">Sobre Nós</h2>
            <ul class="rodape__sobre">
                <li class="rodape__item">Nossas Lojas</li>
                <li class="rodape__item">Contato</li>
                <li class="rodape__item">História</li>
                <li class="rodape__item">Eventos</li>
            </ul>
        </div>
            
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>