{% extends 'template.html' %}
{% block conteudo %}

    <main>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" style="object-fit: cover;"
                        width="800" height="400" src="../static/img/slidermtb.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block text-start">
                        <h5 class="h1">Mountain bikes</h5>
                        <p class="h4">Se o seu lugar é na montanha, veja nossas opções.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" style="object-fit: cover;"
                        width="800" height="400" src="../static/img/sliderroad.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block text-start">
                        <h5 class="h1">Road bikes</h5>
                        <p class="h4">Para os amantes de alta velocidade.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" style="object-fit: cover;"
                        width="800" height="400" src="../static/img/slidergravel.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block text-start">
                        <h5 class="h1">Gravel bikes</h5>
                        <p class="h4">Para te mover além do asfalto e do previsível.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <section>
            <div class="sobre">
                <p class="sobre__descricao mx-5">
                    Experimente a liberdade sobre duas rodas! Conheça nosso site de troca de bicicletas e
                    descubra um novo mundo de possibilidades para pedalar.</b>
                </p>
            </div>
        </section>

        <div class="marquee w-100">
            <ul class="marquee-content">
                <li><img src="{{ url_for('static', filename='img/canyon-1.svg') }}" class="marcas__logo" alt=""></li>
                <li><img src="https://upload.wikimedia.org/wikipedia/en/5/52/Specialized_logo.svg" class="marcas__logo"
                        alt=""></li>
                <li><img src="https://upload.wikimedia.org/wikipedia/commons/3/39/2018_Trek_logo_word_mark_wiki.svg"
                        class="marcas__logo" alt=""></li>
                <li><img src="{{ url_for('static', filename='img/scott-7.svg') }}" class="marcas__logo" alt=""></li>
                <li><img src="{{ url_for('static', filename='img/cannondale-3.svg') }}" class="marcas__logo" alt="">
                </li>
                <li><img src="{{ url_for('static', filename='img/pinarello-1.svg') }}" class="marcas__logo" alt=""></li>
            </ul>
        </div>

        <h3 class="destaques__titulo">Destaques</h3>
        <div class="container row g-4 mx-auto">
            {% for bike in bikes%}
            <div class="col-md-6 col-xl-4">
                <div class="card  border-0 mx-3">
                    <img class='destaques__imagem' src="../uploads/capa{{ bike.id }}.jpg"
                        alt="Bicicleta Specialized Epic Pro">
                    <div class="card-body">
                        <h5 class="card-title">{{ bike.nome }}</h5>
                        <p class="card-text">{{ bike.descricao }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ bike.cor }}</li>
                        <li class="list-group-item">{{ bike.ano }}</li>
                        <li class="list-group-item">{{ '%0.2f'|format(bike.preco|float) }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ url_for('editar', id=bike.id) }}" class="btn btn-primary">Editar</a>
                        <a href="{{ url_for('deletar', id=bike.id) }}" class="btn btn-primary">Deletar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </main>
    <footer class="rodape">
        <div class="rodape__funcionamento">
            <div class="">
                <h2 class="rodape__titulo">Horário de Funcionamento</h2>
                <div class="rodape__funcionamento__semana">
                    <ul class="rodape__dias">
                        <li class="rodape__item">Segunda:</li>
                        <li class="rodape__item">Terça: </li>
                        <li class="rodape__item">Quarta: </li>
                        <li class="rodape__item">Quinta: </li>
                        <li class="rodape__item">Sexta: </li>
                        <li class="rodape__item">Sabado: </li>
                        <li class="rodape__item">Domingo: </li>
                    </ul>
                    <ul class="rodape__dias">
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 17.30</li>
                        <li class="rodape__item">9.00 - 11.30</li>
                        <li class="rodape__item">Fechado</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rodape__itens">
            <h2 class="rodape__titulo">Serviços</h2>
            <ul class="rodape__sobre">
                <li class="rodape__item">Seguros</li>
                <li class="rodape__item">Devoluções</li>
                <li class="rodape__item">Glossario de Bikes</li>
                <li class="rodape__item">Aluguel de Bike</li>
            </ul>
        </div>
        <div class="rodape__itens2">
            <h2 class="rodape__titulo">Sobre Nós</h2>
            <ul class="rodape__sobre">
                <li class="rodape__item">Nossas Lojas</li>
                <li class="rodape__item">Contato</li>
                <li class="rodape__item">História</li>
                <li class="rodape__item">Eventos</li>
            </ul>
        </div>

    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

{% endblock %}